<h2>Products</h2>
<div  layout-align="center center" >
  
  <h1>Welcome , Shop way you like :-)</h1>
  
</div>
<div *ngFor="let product of products; index as productId">
  <h3>
    <a [title]="product.name+' Details'"[routerLink]="['/products',productId]">
        {{product.name}}
        
    </a>
    
    <a [routerLink]="['/products',productId]">
      <div>
        
     <img src="https://user-images.githubusercontent.com/263237/36633897-d3237f2e-19ad-11e8-960a-daaf5ca3088a.png">
		</div>
    </a>
  </h3>
  <p *ngIf="product.description">
    Description : {{ product.description}}
  </p>
<button (click)="share()" >
  Share
</button>

  <app-product-alerts
    [product]="product"
    (notify) = "onNotify()">
    </app-product-alerts>

</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->